.move {
    display: flex;
    justify-content: center;
    text-align: center;
}
.container {
    background-color: #FFF;
    text-align: left;
    margin-left: 0.8rem;
    width: 20vw;
    height: 40vh;
    margin-top: 2rem;
}
.paymentText {
    text-align: left;
    margin-top: 1.3rem;
    margin-left: 0.6rem;
}
.paymentTextMain {
    font-family: Sailec;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #2C0C6A;
}
.paymentTextSub {
    font-family: Sailec;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #877E9E;
}
.payinfo label {
    
}
.paymentinfo {
    display: block;
    margin: 0rem 0 0rem 0.6rem;
    height: 3rem;
    width: 80%;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 4px;
    justify-content: center;
}
.compare {
    height: 2rem;
    width: 40%;
    border: 1px solid #4305EB;
    box-sizing: border-box;
    border-radius: 6px;
    margin-right: 0.5rem;
}
.continue {
    height: 2rem;
    width: 40%;
    background: #4305EB;
    border-radius: 6px;
}