.move {
    display: flex;
    justify-content: center;
    text-align: center;
}
.container {
    background-color: #FFF;
    text-align: left;
    width: 20vw;
    height: auto;
    margin-top: 2rem;
}
.paymentText {
    text-align: left;
    margin-top: 1.3rem;
    margin-left: 0.6rem;
}
.paymentTextMain {
    font-family: Sailec;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 24px;
    color: #2C0C6A;
}
.paymentTextSub {
    font-family: Sailec;
    font-style: normal;
    font-weight: normal;
    font-size: 0.7rem;
    line-height: 24px;
    color: #877E9E;
}
.form {
    margin-top: 1.3rem;
}
.payinfo {
    margin-top: 1rem;
}
.payinfo label {
    margin-left: 0.6rem;
    color: #8B8F96;
    font-size: 0.8rem;
}
.paymentinfo {
    display: block;
    margin: 0rem 0 0rem 0.6rem;
    height: 3rem;
    width: 80%;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 4px;
    justify-content: center;
    outline: none;
    padding: 0.4rem;
}
.compare {
    height: 2.5rem;
    width: 40%;
    border: 1px solid #4305EB;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 1rem 0.5rem 1rem 0.6rem;
}
.continue {
    height: 2.5rem;
    margin: 1rem 0rem;
    width: 40%;
    background: #4305EB;
    border-radius: 6px;
}
.continue2 {
    height: 2.5rem;
    margin: 1rem 0rem;
    margin-left: 0.6rem;
    width: 80%;
    background: #4305EB;
    border-radius: 6px;
}
.rateShow {
    text-align: left;
}
.rateInfo {
    display: flex;
    justify-content: space-between;
    margin: 0.3rem 0.6rem;
}