.navbar {
    height: 6vh;
    background-color: #A98CF6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fincra h3 {
    margin-left: 3rem;
    color: #222222;
    font-size: 1.4rem;
}
