.container {
    width: 100vw;
    height: 100vh;
    margin-top: 0rem;
    background-color: #E5E5E5;
}

@media screen and (max-width: 900px) {
    .container {
        width: 100vw;
        height: 100vh;
        margin-top: 0rem;
        background-color: #FFF;
    }
}
